@charset "UTF-8";

* {
    padding: 0%;
    border: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

div#tabela {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-x: auto;
}

table {
    background-color: #F0F0F0;
    border-collapse: collapse; 
}

th {
    padding-top: 20px;
    
}
    
th, td {
        text-align: center; 
        padding: 8px; 
        border: 1px solid #ffff;
        width: 150px;
}

td {
    color: rgba(0, 0, 0, 0.498);
}

.period {
    color: black;
    font-weight: bolder;
    width: 10%;
}